body{
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    font-weight: 800;

}

p{
    color: #8f8f8f;
}

/* Headings */

.title-heading{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;

}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 7% 15%;
}

/* Sections Colors */

.colored-section{
    background-color:  #ff4c68;
}

.white-section{
    background-color:white;
}
/* Nav-Bar */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
    color: white;
    font-weight: 600;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    color: white;
    text-align: left;

}


/* Image */
.title-image{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0deg);
        width: 60%;
        position: static;
    }   
}

/* Download buttons */

.download-btn{
    margin: 5% 3% 5% 0;
}

/* Features */
#features{
    position: relative;
}

.feature-box{
    padding: 5%;
}

.feature-name{
    font-size: 1.3rem;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;

}


/* Testimonials */
#testimonials{
    color: white;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;

}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}



/* Press */
#press{
    
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    padding-top: 7%;
    margin: 0 50px;
}

/* pricing */

#pricing{
    padding: 100px;
}


.pricing-name{
    font-size: 1.3rem;

}

.pricing-item{
    font-size: 3rem;
    line-height: 1.5;

}

.pricing-column{
    padding: 3% 2%;
}

.price-btn{
    color: white;
    background-color: #ff4c68;
    border-color: #ff4c68;
}

.price-btn:hover{
    color: #ff4c68;
    font-weight: bold;
    background-color: white;
    border-color: #ff4c68;
}
/* cta */

#cta {
    color: white;
}

/* Footer */

.footer-icon{
    padding: 10px;
}